@import "../styles/variables/_colors.scss";
@import "../styles/variables/_fonts.scss";

.riddle_page{
    background-color: $reallydarckblue;
    color:$blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $Quicksand;
    height: auto;
    min-height: 95vh;
    label{
        color:$blue;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 200px;
        height: 35px;
        font-size: 25px;
        margin: 30px;
        
    }
    input{
       
        width: 200px;
        height: 35px;
        font-size: 40px;
        margin-top: 23px;
        margin-bottom: 23px;
        
    }
    input[type="radio"] {
        display: none;
      }
    label:hover{
        background-position: 100% 0;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .1s ease-in-out;
            transform: scale(0.99);
            border: 1px solid aqua;
            color:aqua;
    }
    button{
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-self: center;
        background-color: $darckblue ;
        border: 1px solid $blue;
        color:$blue;
        height: 40px;
        border-radius: 10px;
        font-size: 25px;
        margin-top: 20px;
    }
    button:hover{
        background-position: 100% 0;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .1s ease-in-out;
            transform: scale(0.99);
            border: 1px solid aqua;
            color:aqua;
    }
}